version: '3.8'

networks:
  cdps-net:
    driver: bridge

services:
  productpage_cdps_17:
    build:
      context: .
      dockerfile: Dockerfile.productpage
    image: cdps-productpage:g17
    container_name: productpage_cdps_17
    ports:
      - "9080:9080"
    environment:
      - ENABLE_RATINGS=true
      - DETAILS_HOSTNAME=details_cdps_17
      - RATINGS_HOSTNAME=ratings_cdps_17
      - REVIEWS_HOSTNAME=reviews_v1_cdps_17
    volumes:
      - ./bookinfo/src/productpage:/app
    networks:
      - cdps-net


  details_cdps_17:
    build:
      context: .
      dockerfile: Dockerfile.details
    image: cdps-details:g17
    container_name: details_cdps_17
    ports:
      - "7070"
    environment:
      - ENABLE_EXTERNAL_BOOK_SERVICE=true
    volumes:
      - ./bookinfo/src/details:/opt/microservices
    networks:
      - cdps-net
    depends_on:
      - productpage_cdps_17

  reviews_v1_cdps_17:
    build:
      context: ./bookinfo/src/reviews/reviews-wlpcfg
      dockerfile: Dockerfile
      args:
        service_version: v1
        enable_ratings: "true"
        star_color: black
    image: cdps-reviews-v1:g17
    container_name: reviews_v1_cdps_17
    ports:
      - "9080"
    environment:
      - SERVICE_VERSION=v1
      - ENABLE_RATINGS=true
      - STAR_COLOR=black
    networks:
      - cdps-net
    depends_on:
      - productpage_cdps_17
    volumes:
      - reviews:/opt/ibm/wlp/usr/servers/defaultServer


  reviews_v2_cdps_17:
    build:
      context: ./bookinfo/src/reviews/reviews-wlpcfg
      dockerfile: Dockerfile
      args:
        service_version: v2
        enable_ratings: "true"
        star_color: black

    image: cdps-reviews-v2:g17
    container_name: reviews_v2_cdps_17
    ports:
      - "9080"
    environment:
      - SERVICE_VERSION=v2
      - ENABLE_RATINGS=true
      - STAR_COLOR=black
    networks:
      - cdps-net
    profiles:
      - inactive
    depends_on:
      - productpage_cdps_17
    volumes:
      - reviews:/opt/ibm/wlp/usr/servers/defaultServer


  reviews_v3_cdps_17:
    build:
      context: ./bookinfo/src/reviews/reviews-wlpcfg
      dockerfile: Dockerfile
      args:
        service_version: v3
        enable_ratings: "true"
        star_color: red
    image: cdps-reviews-v3:g17
    container_name: reviews_v3_cdps_17
    ports:
      - "9080"
    environment:
      - SERVICE_VERSION=v3
      - ENABLE_RATINGS=true
      - STAR_COLOR=red
    networks:
      - cdps-net
    profiles:
      - inactive
    depends_on:
      - productpage_cdps_17
    volumes:
      - reviews:/opt/ibm/wlp/usr/servers/defaultServer

  ratings_cdps_17:
    build:
      context: .
      dockerfile: Dockerfile.ratings
    image: cdps-ratings:g17
    container_name: ratings_cdps_17
    ports:
      - "9080"
    environment:
      - APP_VERSION=v1
    volumes:
      - ./bookinfo/src/ratings:/opt/microservices
      - /opt/microservices/node_modules
    networks:
      - cdps-net



