version: '3.8'

networks:
  cdps-net:
    driver: bridge

services:
  productpage_cdps_17:
    build:
      context: ./bookinfo/src/productpage
      dockerfile: Dockerfile
    image: cdps-productpage:g17
    container_name: productpage_cdps_17
    networks:
      - cdps-net
    ports:
      - "9080:9080"
    volumes:
      - ./bookinfo/src/productpage:/opt/microservices
    environment:
      - DETAILS_HOSTNAME=details_cdps_17
      - RATINGS_HOSTNAME=ratings_cdps_17
      - REVIEWS_HOSTNAME=reviews_cdps_17
      - SERVICE_VERSION=v1
      - TEAM_ID=17
    depends_on:
      - details_cdps_17
      - ratings_cdps_17

  details_cdps_17:
    build:
      context: ./bookinfo/src/details
      dockerfile: Dockerfile
    image: cdps-details:g17
    container_name: details_cdps_17
    networks:
      - cdps-net
    ports:
      - "7070:7070"
    volumes:
      - ./bookinfo/src/details:/opt/microservices
    environment:
      - ENABLE_EXTERNAL_BOOK_SERVICE=true

  reviews_v1_cdps_17:
    build:
      context: ./bookinfo/src/reviews/reviews-wlpcfg
      dockerfile: Dockerfile
      args:
        - service_version=v1
        - enable_ratings=false
        - star_color=black
    image: cdps-reviews-v1:g17
    container_name: reviews_cdps_17
    networks:
      - cdps-net
    ports:
      - "9081:9080"
    volumes:
      - ./bookinfo/src/reviews:/home/gradle/project
    environment:
      - SERVICE_VERSION=v1
      - ENABLE_RATINGS=false
      - STAR_COLOR=black
    profiles:
      - v1

  reviews_v2_cdps_17:
    build:
      context: ./bookinfo/src/reviews/reviews-wlpcfg
      dockerfile: Dockerfile
      args:
        - service_version=v2
        - enable_ratings=true
        - star_color=black
    image: cdps-reviews-v2:g17
    container_name: reviews_cdps_17
    networks:
      - cdps-net
    ports:
      - "9081:9080"
    volumes:
      - ./bookinfo/src/reviews:/home/gradle/project
    environment:
      - SERVICE_VERSION=v2
      - ENABLE_RATINGS=true
      - STAR_COLOR=black
    profiles:
      - v2

  reviews_v3_cdps_17:
    build:
      context: ./bookinfo/src/reviews/reviews-wlpcfg
      dockerfile: Dockerfile
      args:
        - service_version=v3
        - enable_ratings=true
        - star_color=red
    image: cdps-reviews-v3:g17
    container_name: reviews_cdps_17
    networks:
      - cdps-net
    ports:
      - "9081:9080"
    volumes:
      - ./bookinfo/src/reviews:/home/gradle/project
    environment:
      - SERVICE_VERSION=v3
      - ENABLE_RATINGS=true
      - STAR_COLOR=red
    profiles:
      - v3

  ratings_cdps_17:
    build:
      context: ./bookinfo/src/ratings
      dockerfile: Dockerfile
    image: cdps-ratings:g17
    container_name: ratings_cdps_17
    networks:
      - cdps-net
    ports:
      - "9082:9080"
    environment:
      - APP_VERSION=v1
