networks:
  cdps-net:
    driver: bridge

services:
  productpage:
    build:
      context: .
      dockerfile: Dockerfile.productpage
    image: cdps-productpage:g17
    container_name: productpage_cdps_17
    ports:
      - "9080:9080"
    volumes:
      - ./bookinfo/src/productpage:/app
    networks:
      - cdps-net


  details:
    build:
      context: .
      dockerfile: Dockerfile.details
    image: cdps-details:g17
    container_name: details_cdps_17
    ports:
      - "7070:7070"
    environment:
      - ENABLE_EXTERNAL_BOOK_SERVICE=true
    volumes:
      - ./bookinfo/src/details:/opt/microservices
    networks:
      - cdps-net


  ratings:
    build:
      context: .
      dockerfile: Dockerfile.ratings
    image: cdps-ratings:g17
    container_name: ratings_cdps_17
    ports:
      - "9082:9080"
    environment:
      - APP_VERSION=v1
    volumes:
      - ./bookinfo/src/ratings:/opt/microservices
      - /opt/microservices/node_modules
    networks:
      - cdps-net


  reviews:
    image: cdps-reviews:g17
    container_name: reviews_cdps_17
    build: ./bookinfo/src/reviews/reviews-wlpcfg
    ports:
      - "9081:9080"
    environment:
      - ENABLE_RATINGS=${REVIEWS_ENABLE_RATINGS:-false}
      - APP_VERSION=${REVIEWS_APP_VERSION:-v1}
      - STAR_COLOR=${REVIEWS_STAR_COLOR:-black}
    volumes:
      - ./bookinfo/src/reviews:/opt/microservices
      - /opt/microservices/node_modules
    networks:
      - cdps-net